.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;

  .arrow {
    width: 30px;
    height: 30px;
    color: #d66d35;
    cursor: pointer;
  }
  h2 {
    color: #e8844e;
  }
  .todos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    &-item {
      padding: 15px 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
      border-radius: 8px;
      width: 100%;
    }

    &-item.todos-incomplete {
      border: 2px solid grey;
    }

    &-completed {
      background-color: #6baa75;
      color: #fff;
    }
  }

  @media (max-width: 1200px) {
    .todos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .todos {
      grid-template-columns: 1fr;
    }
  }
}
