.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  h2 {
    color: #e8844e;
  }
  .todos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    &-item {
      // max-width: 300px;
      padding: 15px 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
      border-radius: 8px;
      width: 100%;
    }

    &-completed {
      background-color: #6baa75;
      color: #fff;
    }
  }

  @media (max-width: 1200px) {
    .todos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .todos {
      grid-template-columns: 1fr;
    }
  }
}
